body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100%;
    background: url(indexIMG.jpg) no-repeat; /* imagen de fondo */
    background-position: center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(225, 226, 178, 0.5);
    z-index: -1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* Ajusta el espacio superior del contenido principal para que no quede detrás del menú fijo */
body {
    padding-top: 100px; /* Ajusta según el tamaño del menú */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s ease;
}

.navbar a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}
